{%extends 'base.html'%}

{%block body%}

{%for o in orders%}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4">
              {%if o.product.image%}
              <img class="card-img-top mb-5 mb-md-0" src="{{o.product.image.url}}" alt="..." / height="300px">

                  {%else%}
                  <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." / height="300px">

              {%endif%}

            </div>
            <div class="col-md-4">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{o.product.product_name}}</h1>
                <div class="fs-5 mb-5">
                    <p class="">{{o.product.price}}</p>
                    <p class="">Expected Delivery Date{{o.expected_deliverydate}}</p>
                    <p class="">Status {{o.status}}</p>
                    <span></span>
                </div>
                
            </div>
            <div class="col-md-4">
                <a href="{%url 'remove' o.id %}" class="btn btn-danger btn-sm">Cancel Order</a>
                <a href="{%url 'review-add' o.product.id %}" class="btn btn-success">Add Your Review</a>
            </div>
            

        </div>
    </div>
</section>

{{c.product}}
{{c.created_date}}
{{c.status}}
{{c.product.price}}
{{c.product.category}}
{{c.qty}}

{%endfor%}
{%endblock%}